<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/normdb" />
		<property name="username" value="dbuser" />
		<property name="password" value="1234" />
	</bean>
	
	<bean id="metathesaurus"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://kandel.dia.fi.upm.es:3306/metathesaurus" />
		<property name="username" value="umls" />
		<property name="password" value="terminology_service" />
	</bean>
	
	<bean id="snomedct"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/snomedct" />
		<property name="username" value="dbuser" />
		<property name="password" value="1234" />
	</bean>
	
	<bean id="normJDBCTemplate" class="db.DBManager$NormJDBCTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="metathesaurusJDBCTemplate" class="db.DBManager$MetathesaurusJDBCTemplate">
		<property name="dataSource" ref="metathesaurus" />
	</bean>
	
	<bean id="snomedJDBCTemplate" class="db.DBManager$SnomedJDBCTemplate">
		<property name="dataSource" ref="snomedct" />
	</bean>
	
	<bean id="cfrReportJDBCTemplate" class="db.reports.CFReportJDBCTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="tcrReportJDBCTemplate" class="db.reports.TConceptsJDBCTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>